body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
.box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 30%;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#text {
  font-size: 3vh;
  color: #fff;
  text-indent: 30px;
}

.choose {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 5%;
  background-color: #aaa;
  text-align: center;
  font-size: 4vh;
  opacity: 0;
  margin: 10px 0;
  border: 1px solid #000;
  cursor: default;
  pointer-events: none;
  transition: opacity 0.3s ease, cursor 0.3s ease;
  z-index: 2;
}

.choose.visible {
  cursor: pointer;
  pointer-events: auto;
}

#choose1 {
  top: 30%;
}

#choose2 {
  top: 40%;
}

#choose3 {
  top: 50%;
}

#text-box {
  position: absolute;
  top: 60%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px; /* Adjust padding here */
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}
#speaker {
  font-size: 5vh;
  color: #fff;
  text-shadow: 2px 4px 6px black;
}
#text-box h1 {
  margin: 0;
  padding: 0;
}

#background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  z-index: -1;
}

#character-container {
  position: absolute;
  bottom: 0%;
  left: 100%;
  transform: translateX(-50%);
  width: 75%;
  height: 75%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  background-image: url(/image/Sushi3.png);
}
