body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
.box {
  left: 50%;
  transform: translateX(-50%);
  height: 30%;
  z-index: 1;
}

#text {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 90%;
  font-size: 3vh;
  color: #fff;
  text-indent: 30px;
}

.choose {
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 5%;
  text-align: center;
  font-size: 2vw;
  opacity: 0;
  margin: auto auto;
  cursor: default;
  pointer-events: none;
  transition: opacity 0.3s ease, cursor 0.3s ease;
  z-index: 2;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  );
}

.choose.visible {
  cursor: pointer;
  pointer-events: auto;
}

#choose1 {
  top: 50%;
}

#choose2 {
  top: 40%;
}

#choose3 {
  top: 30%;
}

#text-box {
  position: absolute;
  bottom: 0%;
  width: 95%;

  padding: 1vw 2vw;
  cursor: pointer;
  margin: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  );
}

#speaker {
  text-align: center;
  font-size: 5vh;
  color: #fff;
  text-shadow: 2px 4px 6px black;
}

#text-box h1 {
  margin: 0;
  padding: 0;
}

#background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  z-index: -1;
}

#character-container {
  width: 68vh;
  height: 90vh;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
